<section class="margined">
  <h1>Proyecto</h1>

  <div class="row">
    <div class="col-md-8">
      <%= simple_form_for(@project) do |f| %>
        <%= f.error_notification %>

          <div class="form-inputs">
            <div class="form-group well">
              <%= f.input :title, label: 'Título', input_html: { class: 'form-control' }, placeholder: 'Título del proyecto' %>
            </div>

            <div class="form-group well">
              <%= f.input :media_link, label: 'Link video (youtube o vimeo)', input_html: { class: 'form-control' }, placeholder:
              'http://www.youtube.com/watch?v=EDUpiVwi6lw' %>
            </div>

            <div class="form-group well">
              <%= f.input :short_description, label: 'Breve Descripción', input_html: { class: 'form-control' }, placeholder: 'Atraiga contribuidores a su proyectos en una pocas lineas.' %>
            </div>

            <div class="form-group well">
              <%= f.input :extended_description, label: 'Descripción Detallada', input_html: {
              class: 'form-control redactor', rows: 100 }, placeholder:
              'Descripción del proyecto: overview, plan de negocios, etapas...' %>
            </div>

            <div class="form-group well">
              <%= f.input :funding_goal, label: 'Meta', input_html: { class: 'form-control' },
              placeholder: 'Cantidad de fondos deseada.' %>
            </div>

            <div class="form-group well">
              <%= f.input :funding_duration, label: 'Duración', input_html: { class:
              'form-control' }, placeholder: 'Elija duración de 1 a 90 días.' %>
            </div>

            <div class="form-group well">
              <%= f.input :project_url, label: 'URL del Proyecto', input_html: { class: 'form-control' }, placeholder:
              'http://www.su-proyecto.com' %>
            </div>

            <%#=f .input :category %>
            <%#=f .input :tags %>
          </div>

          <button type="submit" id="submit" class="btn btn-primary">Salvar</button>
          <%=link_to 'Atrás', projects_path, class: 'btn btn-danger' %>
            <% end %>
    </div>

    <div class="col-md-4">
      <h2>Vista Previa</h2>
      <div id="preview">
        <%= render 'project_thumbnail', project: Project.new %>
      </div>
    </div>
  </div>
</section>
