<% user = (project.user || current_user).emailname rescue 'anonimo' %>
<div id="project_thumbnail">
  <div class="thumbnail" id="<%= project.id %>">
      <% if project.new_record?  %>
        <%= image_tag 'http://placehold.it/300x200', alt: 'placeholder', class: 'img-responsive' %>
      <% else %>
        <%
          media_meta = YAML.load(project.media_meta) rescue nil
          if media_meta.respond_to?(:thumbnail_large)
        %>
          <%= link_to project, role: 'button' do %>
            <%= image_tag media_meta.thumbnail_large, class: 'img-responsive'  %>
          <% end %>
        <% end %>
      <% end %>
    <div class="caption">
      <h3><span id="title"><%= project.title %></span> <small>por <%= user %></small></h3>
      <p id="description"><%= truncate(project.short_description, length: 100) %></p>

      <hr>

      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= project.funding_percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= project.funding_percentage %>%">
          <span class="sr-only"><%= project.funding_percentage %>% Complete (success)</span>
        </div>
        <p>
          <% if project.new_record? %>
            <span><%= number_to_currency(project.total_contributed) %></span>
          <% end %>
          <span class="pull-right"><%= project.funding_percentage.round %>%</span>
        </p>
      </div>

      <p>
        <% if project.new_record? %>
          Meta <strong id="goal"><%= number_to_currency(project.funding_goal) %></strong>
          en
          <i class="fa fa-clock-o"></i> <strong id="duration"><%= project.funding_duration %></strong> días.
        <% else %>
          <strong id="goal"><%= number_to_currency(project.total_contributed) %></strong> recolectados
          <i class="fa fa-clock-o"></i> <strong id="duration"><%= project.time_left %></strong> días restantes.
        <% end %>
      </p>

      <% unless project.new_record? %>
        <p>
          <%= link_to 'Contribuir', project, class: 'btn btn-primary', role: 'button' %>
          <%= link_to 'Ver mas', project, class: 'btn btn-success', role: 'button' %>
        </p>
      <% end %>
    </div>
  </div>
</div>
