<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  <header>
    <% if !!current_user %>
      <%= current_user.username %>
      <form action="<%= session_url %>" method="POST">
      <input type="hidden" name="authenticity_token" value= "<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="logout">
      </form>
    <% else %>
      <a href="<%= new_session_url%>">login</a>
      <a href="<%= new_user_url%>">signup</a>
    <% end %>

  

  </header>

    <%= yield %>
    <p></p>
    <footer><a href="<%= cats_url %>">99 Cats Homepage</a></footer>
  </body>
</html>
