<div>
    <%= @comment.content %>
    
</div>

<strong>Reply to this comment:</strong>

<form action="<%= comments_url%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="comment[post_id]" value="<%= @comment.post_id %>">     
    <input type="hidden" name="comment[parent_comment_id]" value="<%= @comment.id%>">   

    <label >Body: <br>
        <textarea name="comment[content]"></textarea>
    </label>

    <input type="submit" value="Submit">
</form>