<%- partial('_partial/head') %>

<body id="inicio" class="index">
  <%- body %>

<!--   <div id="container">
    <div id="wrap">
      <div class="outer">
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
  </div> -->

  <%- partial('_partial/after-footer') %>
</body>
</html>
