<section class="margined">
  <h1>Producto</h1>

  <div class="row">
    <div class="col-md-8">
      <%= simple_form_for(@item, url: @form_url) do |f| %>
        <%= f.error_notification %>

          <div class="form-inputs">
            <div class="form-group well">
              <%= f.input :title, label: 'Título', input_html: { class: 'form-control' }, placeholder: 'Título del producto' %>
            </div>

            <div class="form-group well">
              <%= f.input :picture, label: 'Foto', input_html: { class: 'form-control' }, placeholder: 'Sube una foto' %>
            </div>

            <div class="form-group well">
              <%= f.input :description, label: 'Breve Descripción', input_html: { class: 'form-control' }, placeholder: 'Atraiga contribuidores a su proyectos en una pocas lineas.' %>
            </div>

            <div class="form-group well">
              <%= f.input :price, label: 'Precio', input_html: { class: 'form-control' },
              placeholder: 'Precio del producto' %>
            </div>

            <div class="form-group well">
              <%= f.input :stock, label: 'Cantidad de productos', input_html: { class:
              'form-control' }, placeholder: 'Cantidad de productos que dispone para vender' %>
            </div>

            <!--
            <div class="form-group well">
              <%#= f.association :project, label: 'Proyecto Asociado', input_html: { class:
              'form-control' } %>
            </div>
            -->

            <%#=f .input :category %>
            <%#=f .input :tags %>
          </div>

          <button type="submit" id="submit" class="btn btn-primary">Salvar</button>
          <%=link_to 'Atrás', projects_path, class: 'btn btn-danger' %>
      <% end %>
    </div>

<!--     <div class="col-md-4">
      <h2>Vista Previa</h2>
      <div id="preview">
        <%#= render 'item_thumbnail', item: Item.new %>
      </div>
    </div> -->
  </div>
</section>
