<div id="project_thumbnail">
  <div class="thumbnail" id="<%= item.id %>">
    <%= link_to item do %>
      <%= image_tag item.picture_url, alt: item.title %>
    <% end %>

    <div class="caption">
      <h3><span id="title"><%= item.title %></span></h3>
      <p id="description"><%= truncate(item.description, length: 100) %></p>
      <hr>
      <p><%= number_to_currency(item.price) %></p>

      <% unless item.new_record? %>
        <p>
          <%= render 'items/buy_item_button', item: item %>
          <%= link_to 'Ver mas', item, class: 'btn btn-success', role: 'button' %>
        </p>
      <% end %>
    </div>
  </div>
</div>
