<% content_for :title do "#{@item.title} | Impulsideas" end %>

<div class="row project_show">

  <div class="col-md-8">

    <div class="jumbotron">
      <h1><%= @item.title %> <!-- <small>por <%#= @item.user.emailname %></small> --></h1>
      <p class="lead"><%= @item.description %></p>

      <%= image_tag @item.picture_url, alt: @item.title, class: 'img-responsive' %>
      <%
        #media_meta = YAML.load(@item.media_meta) rescue nil
        if false #if media_meta.respond_to?(:embed_code)
      %>
        <div class="video-container">
          <%#=raw media_meta.embed_code %>
        </div>
      <% end %>

      <br>

      <p>
        <%= number_to_currency(@item.price) %>
        <%= render 'buy_item_button', item: @item %>
      </p>

      <p>Solo quedan <%= @item.stock %> producto(s). </p>

      <% if @item.project %>
        Soporta: <%= link_to @item.project.title, @item.project %>
      <% end %>
      <br><br>

    <p>
      <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      <iframe src="//www.facebook.com/plugins/like.php?href=<%= URI.encode(request.original_url) %>&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21&amp;appId=420436051410681" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
    </p>
  </div>

  <% if @creator || false %>
    <hr>
    <%= link_to 'Editar', edit_item_path(@item), class: 'btn btn-primary' %>
    <%= link_to 'Eliminar', item_path(@item), class: 'btn btn-danger', method: :delete, data: { confirm: 'Está seguro que quiere eliminar este proyecto?' }  %>
  <% end %>
  <%= link_to 'Ver todos', items_path, class: 'btn btn-default' %>
</div>
