<!-- TODO: add landing design -->
<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title><%= content_for?(:title) ? yield(:title) : "Impulsideas" %></title>

    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "crowdfunding app" %>">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <%= favicon_link_tag 'plane-white.ico' %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/header' %>
      <%= yield(:header) if content_for?(:header) %>
    </header>

    <!-- <div id="sub-header"></div> tilde.io-->

    <% if current_page? root_path %>
      <%= render partial: "shared/flash_messages", flash: flash %>
      <%= yield %>
    <% else %>
        <!-- <div id="main-wrapper"> -->
          <main role="main" class="container">
            <div class="row">
              <div class="col-md-12">
                <%= render partial: "shared/flash_messages", flash: flash %>
                <%= yield %>
              </div>
            </div>
          </main>
        <!-- </div> -->
    <% end %>

    <footer id="footer">
      <div class="container">
          <ul class="list-inline">
            <li> <%= link_to "Principal", root_path %> </li>
            <li> <%= link_to "Condiciones de Uso", about_terms_path %> </li>
            <li> <%= link_to "Preguntas Frecuentes", about_faq_path %> </li>
            <!--<li><a href="#">Our Blog</a></li><li><a href="#">Contact Us</a></li>-->
          </ul>
        <p class="text-muted credit">© <%= Time.now.year %>  <strong>GAPEK, SRL</strong> · Created by <strong><a href="http://adrianmejia.com" style="color: inherit; text-decoration: inherit;">Adrian Mejia</a></strong></p>
        <p class="text-muted credit"></p>
      </div>
    </footer>

    <%= javascript_include_tag "application" %>
    <%= analytics_init if Rails.env.production? %>

    <script>
      $.getScript('//cdn.jsdelivr.net/isotope/1.5.25/jquery.isotope.min.js',function(){
        $('#projects_container').isotope({
          itemSelector : '.project_item',
          layoutMode : 'fitRows'
        });
      });
    </script>
  </body>
</html>
