<!DOCTYPE html>
<html>
  <head>
    <title>Cha-aux - Free Chat for Gamers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Ropa+Sans:400,400i&display=swap" rel="stylesheet">
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.defaultIcon = "<%= image_url('logo_icon_white.png') %>"
  </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
