- content_for :title do
	Exercises | BrainTrainer

- model_class = Exercise.new.class
%h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
	%thead
		%tr
			/%th= model_class.human_attribute_name(:id)
			%th= model_class.human_attribute_name(:no)
			%th= model_class.human_attribute_name(:short_description)
			/%th= model_class.human_attribute_name(:long_description)
			%th Attempts
			%th Rating
			%th Time
			/%th= model_class.human_attribute_name(:created_at)
			- if admin?
				%th=t '.actions', :default => t("helpers.actions")
	%tbody
		-# CHANGED show scores and only show the next exercise and the ones already done.
		-# CHANGED show edit CRUD buttons just for the admin user
		-# CHANGED create admin user
		- last_exercise = nil
		- @exercises.each.with_index do |exercise,i|
			- unless admin?
				- break unless i==0 or last_exercise.scores.where(["rating >= ? AND user_id = ?",80,current_user.id]).size > 0
			- last_exercise = exercise
			%tr
				/%td= link_to exercise.id, exercise_path(exercise)
				%td= link_to exercise.no, exercise_path(exercise)
				%td= truncate(exercise.short_description, length: 60, omission: '...')
				/%td= truncate(exercise.long_description, :length => 20, :omission => '...') 
				/%td=l exercise.created_at
				%td= exercise.scores.where(user_id: current_user.id).size
				- last_score = @user.scores.where(exercise_id: exercise.id).last
				%td= (last_score.nil? or last_score.rating.nil?)? "0" : last_score.rating.to_s + "%"
				%td= (last_score.nil? or last_score.time.nil?)? "0" : last_score.time.to_s + " sec."
				- if admin?
					%td
						= link_to t('.edit', :default => t("helpers.links.edit")), edit_exercise_path(exercise), :class => 'btn btn-mini'
						= link_to t('.destroy', :default => t("helpers.links.destroy")), exercise_path(exercise), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'
- if admin?
	= link_to t('.new', :default => t("helpers.links.new")), new_exercise_path, :class => 'btn btn-primary'
