- content_for :title do
	- "#{@exercise.short_description.to_s} | BrainTrainer "
	
- model_class = @exercise.class
%h1=t '.title', :default => model_class.model_name.human + " " + @exercise.no.to_s
%p= @exercise.long_description
-# %h3= @exercise.short_description.to_s + ": "

- horizontal = (@exercise.operations.first.align == 'horizontal')? "horizontal":""
= form_tag @score, method: "post", class: "operations-form form#{"-"+horizontal}", autocomplete: "off" do
	
	-# Hidden fields:
	= hidden_field_tag "start_time", Time.now.to_i
	= hidden_field_tag "elapsed_time", 0
	
	%fieldset
		%legend= @exercise.short_description.to_s
		
		-#.start-btn
		-#	= link_to "Start", "#", class: "btn btn-success btn-large", id: "start-btn"
		
		.button#start-btn
			.outer
				.height
					.inner 
						= link_to "Start", "#"
		
		.row#operations
			- @exercise.operations.each.with_index do |operation,iop|
				-#------------------------------------		
				-# Each operation in this exercise.
				-#------------------------------------
				%div{class: "operation #{(horizontal.empty?)? "span2":"span6"} control-group", id: "op#{iop}"}
					-#%p= "No. #{iop+1}"
					- numbers = operation.numbers.split(',')
					- numbers.each.with_index do |number, inum|		
		
						-# Print Numbers:
						- klass = "op-number op#{iop} num#{inum} control-label"
						
						- if operation.align == 'horizontal'
							-# Horizontal
							- op = (inum == numbers.count-1)? "=":operation.operator
							%label{class: "#{klass}"}=raw "#{number} #{op} &nbsp;"
						- else
							-# Vertical
							%label{class: "#{klass}", id: "op#{iop}-num#{inum}"}= number	
	
					-#----------------------
					-# Print Resuts textbox:
					-#----------------------
					- unless operation.align == 'horizontal'
						%label.control-label.operation-separtor
						
					%div.controls
						= number_field_tag "results[#{iop}]", nil, class: 'text_field op_text_answer controls op-number', size: 6, style: "width:60px; height:25px;"
						= hidden_field_tag "exercise_id", @exercise.id
		
	.form-actions
		= submit_tag "Done!", class: 'btn btn-primary', id: "done_btn"
		=# link_to "done!", "#", class: 'btn', id: "done_btn"
		- if admin?
			= link_to t('.back', :default => t("helpers.links.back")), exercises_path, :class => 'btn'
			= link_to t('.edit', :default => t("helpers.links.edit")), edit_exercise_path(@exercise), :class => 'btn'
			= link_to t('.destroy', :default => t("helpers.links.destroy")), exercise_path(@exercise), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
