<h1><%= @sub.title %></h1>

<h3>Description</h3>

<p> <%= @sub.description %> </p>   

<a href="<%=new_post_url%>">Make New Post!</a>

<ul>
    <% @sub.posts.each do |post| %>
        <li><a href="<%=post_url(post)%>"><%= post.title %></a></li>
    <% end %>
</ul>


<% if @sub.moderator_id == current_user.id %>
    <a href="<%=edit_sub_url(@sub) %>">Edit Sub </a>
<% end %>
