extends layout.pug
include includes/utils.pug

block content
  script(defer type="module" src="/js/profile.js")
  //- link(rel="stylesheet" type="text/css" href="/styles/profile.css")

  article
    heading.pr-userInfo
      #userContainer 
        h2#profileName #{user.firstName} #{user.lastName}
        button.btnFollow.btnBig.btnIconic Follow
        span.followCount
          a(href=`/users/${user.id}/following#content`) #{followCounts.followed} Following
          span.followCount | 
          a(href=`/users/${user.id}/followers#content`) #{followCounts.followers} Followers
      //- span.user-description #{user.description}
      p#joinDate Coven member since #{user.createdAt}.

      #userAvContainer
        img(src=`/assets/av/1.jpg` alt=`${user.firstName} ${user.lastName}`).userAv

      //- button Edit Profile

    nav.userCollections
      ul.profileTabs
        li.storyTab: a(href=`/users/${user.id}`) Stories
        li.bookmarkTab: a(href=`/users/${user.id}/bookmarks`) Bookmarks
        li.likeTab: a(href=`/users/${user.id}/likes`) Likes
        li.commentTab: a(href=`/users/${user.id}/comments`) Comments
        li.followTab: a(href=`/users/${user.id}/following`) Following
        li.followerTab: a(href=`/users/${user.id}/followers`) Followers

    #content
    //- block userTabContent

    //- Stories Tab
    unless tab
      ul.profileFeed
        h2.tabTitle #{user.firstName} #{user.lastName}'s Stories
        each story in userStories
          li.card: +storyCardFull(story)


    //- Bookmarks Tab
    if tab == "bookmarks"
      ul.profileFeed
        h2.tabTitle #{user.firstName} #{user.lastName}'s Bookmarks
        each bookmark in bookmarkedStories
          li.card: +storyCardFull(bookmark.Story)


    //- Comments Tab
    if tab == "comments"
      ul.profileFeed
        h2.tabTitle #{user.firstName} #{user.lastName}'s Comments
        each comment in userComments
          li.commentCard.card
            +storyCardMini(comment.Story)
            p.cardCreatedDate= comment.createdAt
            p.commentBody "#{comment.body}"
              
            +authorBlurb(user)


    //- Follows Tab
    if tab == "follows"
      ul.hidden.profileFeed
        h2.tabTitle #{user.firstName} #{user.lastName}'s Follows
      
        each user in followedUsers
          li.card: +userCard(user.Following)


    //- Followers Tab
    if tab == "followers"
      ul.profileFeed
        h2.tabTitle #{user.firstName} #{user.lastName}'s Followers
        each user in followingUsers
        
          li.card: +userCard(user.Follower)