<%= simple_form_for(@payment_notification) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :params %>
    <%= f.input :payment_status %>
    <%= f.input :transaction_id %>
    <%= f.input :contribution_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
