<h1>Edit Post!</h1>

<form action="<%=post_url(@post)%>" method="POST">
    <input type="hidden" name="_method" value="Patch">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Title
        <input type="text" name="post[title]" value="<%=@post.title%>">
    </label>
    <br>
    <label>URL
        <input type="text" name="post[url]" value="<%=@post.url%>">
    </label>
    <br>
    <label>Content
        <textarea name="post[content]"><%=@post.content%></textarea>
    </label>
    <br>
    <input type="hidden" name="post[sub_ids][]" value="">
    <% @subs.each do |sub| %>
        <label>
            <input type="checkbox" name="post[sub_ids][]" value="<%=sub.id%>" <%="checked" if @post.sub_ids.include?(sub.id)%> >  
            
            <%= sub.title %>
        </label>
        <br>
    <% end %>
    <br>
    <input type="submit" value="Fix">
</form>