<% content_for :header do %>
  <% render 'layouts/carousel' %>
<% end %>

<div id="main-wrapper">
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title"><%= link_to 'Proyectos destacados', projects_path %></h3>
        <% projects = Project.order("id desc").limit(3) %>
        <% if projects.any? %>
          <div id="projects_container">
            <% projects.each do |project| %>
              <div class="col-sm-6 col-md-4 project_item">
                <%= render 'projects/project_thumbnail', project: project %>
              </div>
            <% end %>
          </div>
        <% else %>
          <br><br>
          <p>No hay projectos para mostrar. Crear uno nuevo <%= link_to "aqui.", new_project_path %></p>
        <% end %>
      </div>
    </div>
  </main>
</div>




<div class="clearfix"></div>
<!-- <hr> -->

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4 pbox">
      <!-- <%#= image_tag 'crea.png', height: '130px' %> -->
      <!-- <span class="glyphicon glyphicon-cog" style="font-size:100px"></span> -->
      <span class="fa fa-cogs big-icon"></span>
      <h2>Crea proyecto</h2>
      <p>Crea tu proyecto con nosotros cualquiera que sea. El proyectos es 100% tuyo. No tienes nada que perder y muchos sueños que alcanzar. </p>
      <p><a class="btn btn-primary" href="<%= projects_path %>" role="button">Inspírate &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 pbox">
      <%#= image_tag 'difunde.png', height: '130px' %>
      <!-- <span class="glyphicon glyphicon-globe" style="font-size:100px"></span> -->
      <span class="fa fa-bullhorn big-icon"></span>
      <h2>Promocionalo</h2>
      <p>Dile a las personas que esta haciendo. Creas un video y comparte tu proyectos en tus redes sociales favoritas.</p>
      <p><a class="btn btn-primary" href="<%= new_project_path %>" role="button">Comienza &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 pbox">
      <!-- <%#= image_tag 'dinero.png', class: 'img-circle', height: '130px' %> -->
      <span class="fa fa-money big-icon"></span>
      <h2>Recibe fondos</h2>
      <p>Todos tienen igual de oportunidades de levantar fondos. Recibe tus dinero al cumpliento del plazo de tiempo y comienza a hacer tus sueños realidad.</p>
      <p><a class="btn btn-primary" href="<%= new_project_path %>" role="button">Gana &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>


  <!-- START THE FEATURETTES -->

<!--   <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Finacia tus ideas. <span class="text-muted">Más fácil de lo que te imaginas.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Revisamos tu proyecto. <span class="text-muted">Para garantizar la calidad.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Expón tu proyecto al mundo. <span class="text-muted">Mientras mas personas se identifiquen con tus ideas mas fondos puedes adquirir.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Generic placeholder image">
    </div>
  </div> -->

  <!-- <hr class="featurette-divider"> -->
<!-- <div> -->
  <!-- /END THE FEATURETTES -->
