<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-signin mg-btm' }) do |f| %>

  <%= devise_error_messages! %>


  <h3 class="heading-desc">Registrate con <%= image_tag 'logo.png', height: '30px' %></h3>

  <br>
  <%= render 'devise/shared/social_links', prefix: 'Registrate con' %>
  <hr>


  <div class="main">
    <h4>Registrate con Email</h4>
    <span class="clearfix"></span>
    <%= f.email_field :email, :autofocus => true, :placeholder => 'Email', class: 'form-control' %><br>
    <%= f.password_field :password, :placeholder => 'Contraseña', class: 'form-control' %>
    <%= f.password_field :password_confirmation, :placeholder => 'Confirmar contraseña', class: 'form-control' %>
    <span class="clearfix"></span>
  </div>
  <div class="login-footer">
    <div class="row">
      <div class="col-xs-6 col-md-6 pull-right">
        <%= f.submit "Registrarse",:class=>'btn btn-large btn-danger pull-right' %>
      </div>
    </div>

  </div>
<% end %>
