<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.POKEMON_TYPES = <%=raw Pokemon::TYPES %>
    </script>
  </head>

  <body>
    <header>
        <nav>
          <img src="./assets/pokeball.svg" alt="pokedex">
          <ul>
            <li><a href="#" class="create-button">Create Pokemon </a></li>
          </ul>
        </nav>
    </header>

    <%= yield %>
  </body>
</html>
