<h3><%=@band.name%></h3>

<h5>Albums</h5>
<% if @band.albums.empty? %>
    <p>This band has no albums... yet!</p>
<% else %>
    <section class="box">
    <% @band.albums.each do |album| %>
        <a class="item" href=<%=album_url(album)%>><%= album.title %></a>
    <% end %>
    </section>
<% end %>

<%= content_for :footer do %>
    <h5>Links</h5>
    <section class="box">
        <a class="item" href=<%=new_band_album_url(@band)%>>New Album</a>
        <a class="item" href=<%=edit_band_url%>>Edit Band</a>
        <form class="item" action="<%= band_url(@band) %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="submit" value="Destroy Band">
        </form>
        <a class="item" href=<%=bands_url%>>All Bands</a>
    </section>
<% end %>